In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('공공자전거 대여소 정보(21.01.31 기준).csv', encoding='cp949')
df=pd.DataFrame(df)
df

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD,QR,운영 방식
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16.0,NaN,LCD
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12.0,NaN,LCD
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8.0,NaN,LCD
3,304,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7.0,QR
4,305,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2149,1085,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,NaN,20.0,QR
2150,1086,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,NaN,10.0,QR
2151,1088,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,NaN,12.0,QR
2152,1089,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10.0,QR
2153,1090,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10.0,QR

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대여소 번호     2154 non-null   int64
 1   보관소(대여소)명  2154 non-null   object
 2   자치구        2154 non-null   object
 3   상세주소       2154 non-null   object
 4   위도         2042 non-null   float64
 5   경도         2042 non-null   float64
 6   설치 시기      2152 non-null   object
 7   LCD        1482 non-null   float64
 8   QR         671 non-null    float64
 9   운영 방식      2154 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 168.4+ KB

In [4]:
df=df.dropna(subset=['위도', '경도'])
df

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD,QR,운영 방식
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16.0,NaN,LCD
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12.0,NaN,LCD
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8.0,NaN,LCD
3,304,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7.0,QR
4,305,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2149,1085,래미안 솔베뉴(고덕로),강동구,양재대로1650,37.554569,127.145874,2020-01-13,NaN,20.0,QR
2150,1086,래미안 솔베뉴(구천면로),강동구,양재대로1650,37.550598,127.145454,2020-01-10,NaN,10.0,QR
2151,1088,풍납사거리(강동),강동구,성내동451-3,37.528122,127.119522,2020-01-14,NaN,12.0,QR
2152,1089,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10.0,QR
2153,1090,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10.0,QR

In [5]:
stn=df.copy()[['대여소 번호', '보관소(대여소)명', '자치구', '위도', '경도']]
stn

      대여소 번호          보관소(대여소)명  자치구         위도          경도
0        301        경복궁역 7번출구 앞  종로구  37.575794  126.971451
1        302        경복궁역 4번출구 뒤  종로구  37.575947  126.974060
2        303        광화문역 1번출구 앞  종로구  37.571770  126.974663
3        304        광화문역 2번출구 앞  종로구  37.572113  126.977577
4        305             종로구청 옆  종로구  37.572582  126.978355
...      ...                ...  ...        ...         ...
2149    1085       래미안 솔베뉴(고덕로)  강동구  37.554569  127.145874
2150    1086      래미안 솔베뉴(구천면로)  강동구  37.550598  127.145454
2151    1088          풍납사거리(강동)  강동구  37.528122  127.119522
2152    1089  고덕 래미안힐스테이트(201동)  강동구  37.560600  127.146698
2153    1090        상일동역 2번출구 앞  강동구  37.556789  127.166145

[2042 rows x 5 columns]

# 2019 전 기간

In [6]:
brw19=pd.read_csv('brw19.csv')
rtn19=pd.read_csv('rtn19.csv')
brw19=pd.DataFrame(brw19)
rtn19=pd.DataFrame(rtn19)
INNER_JOIN_1=pd.merge(brw19,rtn19, left_on='station', right_on='station', how='inner')
df19=INNER_JOIN_1.copy()[['station','N_out','N_in']]
df19

      station  N_out   N_in
0         828   7328   7534
1         841  16722  18091
2         111  16726  16253
3         534   3589   3502
4         112  16229  16386
...       ...    ...    ...
1557     2394     26     36
1558     3543      6      3
1559     2028    530    596
1560      377    384    423
1561     9996      4      4

[1562 rows x 3 columns]

In [7]:
INNER_JOIN_2=pd.merge(stn,df19, left_on='대여소 번호', right_on='station', how='inner')
df19_1=INNER_JOIN_2.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df19_1['Count']=df19_1['N_in']+df19_1['N_out']
df19_1['Flow']=(df19_1['N_in']-df19_1['N_out'])/(df19_1['N_in']+df19_1['N_out'])
df19_1

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,11203,8355,19558,-0.145618
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,20803,18943,39746,-0.046797
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,14281,12959,27240,-0.048532
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,8527,8034,16561,-0.029769
4,305,종로구청 옆,종로구,37.572582,126.978355,16185,16152,32337,-0.001021
...,...,...,...,...,...,...,...,...,...
1511,1059,래미안 강동팰리스(102동),강동구,37.538181,127.131752,14087,12468,26555,-0.060968
1512,1060,천일초교 사거리,강동구,37.544659,127.132637,7034,6953,13987,-0.005791
1513,1061,천호초교 입구 사거리(일주빌딩),강동구,37.546928,127.134621,8896,8829,17725,-0.003780
1514,1062,고덕숲 아이파크 2,강동구,37.551079,127.162621,2455,2057,4512,-0.088209
1515,3539,서원마을,강동구,37.563820,127.132843,1195,1170,2365,-0.010571

In [8]:
deg19=pd.read_csv('degree19.csv')
pg19=pd.read_csv('pagerank19.csv')
deg19=pd.DataFrame(deg19)
pg19=pd.DataFrame(pg19)
INNER_JOIN_3=pd.merge(df19_1,deg19, left_on='station', right_on='station', how='inner')
INNER_JOIN_4=pd.merge(INNER_JOIN_3,pg19, left_on='station', right_on='station', how='inner')
INNER_JOIN_4
df19_2=INNER_JOIN_4.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df19_2=df19_2.sort_values(by='Count', ascending=False)
df19_2

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,97677,112234,209911,0.069348,0.708067,0.001570
1004,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,97674,97016,194690,-0.003380,0.811780,0.001793
681,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,69009,83260,152269,0.093591,0.565301,0.001261
1370,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,66900,69709,136609,0.020562,0.482714,0.001080
1126,2102,봉림교 교통섬,관악구,37.484230,126.926392,59583,60153,119736,0.004760,0.419974,0.000955
...,...,...,...,...,...,...,...,...,...,...,...
313,664,서울시립대 대학본부,동대문구,37.584129,127.057938,377,381,758,0.005277,0.057618,0.000182
1244,2287,능안마을입구,서초구,37.455620,127.067101,378,162,540,-0.400000,0.051216,0.000178
64,465,삼청공원 앞,종로구,37.587605,126.983597,105,45,150,-0.400000,0.028169,0.000122
1347,2394,개포래미안포레스트아파트 107동 앞,강남구,37.479092,127.055397,26,36,62,0.161290,0.016005,0.000100
263,3543,세종대학교(학술정보원),광진구,37.551373,127.074440,6,3,9,-0.333333,0.005122,0.000082

In [9]:
df19_2.to_csv('2019년 전 기간 대여소 정리.csv')

In [10]:
df19_2.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,97677,112234,209911,0.069348,0.708067,0.001570
1004,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,97674,97016,194690,-0.003380,0.811780,0.001793
681,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,69009,83260,152269,0.093591,0.565301,0.001261
1370,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,66900,69709,136609,0.020562,0.482714,0.001080
1126,2102,봉림교 교통섬,관악구,37.484230,126.926392,59583,60153,119736,0.004760,0.419974,0.000955
1188,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,59095,60320,119415,0.010258,0.848271,0.001868
704,152,마포구민체육센터 앞,마포구,37.556610,126.898018,52354,60851,113205,0.075059,0.557618,0.001241
371,1308,안암로터리 버스정류장 앞,성북구,37.582592,127.028976,52527,58790,111317,0.056263,0.488476,0.001084
225,3533,건대입구역 사거리(롯데백화점),광진구,37.539139,127.070618,56561,53711,110272,-0.025845,0.565941,0.001264
886,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,53290,48947,102237,-0.042480,0.272087,0.000641
568,907,CJ 드림시티,은평구,37.599491,126.916862,43645,54919,98564,0.114383,0.400128,0.000910
1380,1222,잠실새내역 5번 출구 뒤,송파구,37.511982,127.085052,45085,48545,93630,0.036954,0.542894,0.001210
1006,210,IFC몰,영등포구,37.526066,126.925537,44342,46136,90478,0.019828,0.649168,0.001440
890,1906,신도림역 1번 출구 앞,구로구,37.509720,126.890099,45322,42220,87542,-0.035434,0.483995,0.001090
849,1160,양천향교역 7번출구앞,강서구,37.567680,126.840897,43524,43480,87004,-0.000506,0.382202,0.000872

# 2020 전 기간

In [11]:
brw20=pd.read_csv('brw20.csv')
rtn20=pd.read_csv('rtn20.csv')
brw20=pd.DataFrame(brw20)
rtn20=pd.DataFrame(rtn20)
INNER_JOIN_5=pd.merge(brw20,rtn20, left_on='station', right_on='station', how='inner')
df20=INNER_JOIN_5.copy()[['station','N_out','N_in']]
df20

      station  N_out  N_in
0         610   6898  6792
1        1707   9307  8933
2        2312   4035  3641
3        2724   5917  5579
4        1436   5242  5049
...       ...    ...   ...
2145     3304     53    48
2146     3305    440   414
2147     9991      2     1
2148     9992     14    12
2149     2539      1     1

[2150 rows x 3 columns]

In [12]:
INNER_JOIN_6=pd.merge(stn,df20, left_on='대여소 번호', right_on='station', how='inner')
df20_1=INNER_JOIN_6.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df20_1['Count']=df20_1['N_in']+df20_1['N_out']
df20_1['Flow']=(df20_1['N_in']-df20_1['N_out'])/(df20_1['N_in']+df20_1['N_out'])
df20_1

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,10305,7956,18261,-0.128635
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,18177,17688,35865,-0.013634
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,12632,10938,23570,-0.071871
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,8617,7297,15914,-0.082946
4,305,종로구청 옆,종로구,37.572582,126.978355,11760,11750,23510,-0.000425
...,...,...,...,...,...,...,...,...,...
2035,1085,래미안 솔베뉴(고덕로),강동구,37.554569,127.145874,2174,1891,4065,-0.069619
2036,1086,래미안 솔베뉴(구천면로),강동구,37.550598,127.145454,2341,2332,4673,-0.001926
2037,1088,풍납사거리(강동),강동구,37.528122,127.119522,3158,3025,6183,-0.021511
2038,1089,고덕 래미안힐스테이트(201동),강동구,37.560600,127.146698,682,653,1335,-0.021723
2039,1090,상일동역 2번출구 앞,강동구,37.556789,127.166145,8246,8329,16575,0.005008

In [13]:
deg20=pd.read_csv('degree20.csv')
pg20=pd.read_csv('pagerank20.csv')
deg20=pd.DataFrame(deg20)
pg20=pd.DataFrame(pg20)
INNER_JOIN_7=pd.merge(df20_1,deg20, left_on='station', right_on='station', how='inner')
INNER_JOIN_8=pd.merge(INNER_JOIN_7,pg20, left_on='station', right_on='station', how='inner')
INNER_JOIN_8
df20_2=INNER_JOIN_8.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df20_2=df20_2.sort_values(by='Count', ascending=False)
df20_2

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
324,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,108939,121725,230664,0.055431,0.668831,0.001421
1365,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,104436,107445,211881,0.014201,0.749072,0.001586
953,152,마포구민체육센터 앞,마포구,37.556610,126.898018,67672,74646,142318,0.049003,0.531540,0.001131
1526,2102,봉림교 교통섬,관악구,37.484230,126.926392,67980,68585,136565,0.004430,0.380798,0.000833
1604,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,55464,58723,114187,0.028541,0.752319,0.001590
...,...,...,...,...,...,...,...,...,...,...,...
615,1550,삼각산아이원아파트(105동 옆),강북구,37.615223,127.018509,165,25,190,-0.736842,0.022727,0.000093
1698,2534,신흥교(애견훈련소),서초구,37.455631,127.080978,104,82,186,-0.118280,0.025510,0.000101
1585,3304,낙성대역 5번 출구,관악구,37.477753,126.962364,53,48,101,-0.049505,0.022727,0.000093
1707,2543,경문고교 사거리,서초구,37.491264,126.982956,34,33,67,-0.014925,0.012987,0.000072
1703,2539,대한무역투자진흥공사 KOTRA 앞,서초구,37.464897,127.044182,1,1,2,0.000000,0.000928,0.000049

In [14]:
df20_2.to_csv('2020년 전 기간 대여소 정리.csv')

In [15]:
df20_2.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
324,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,108939,121725,230664,0.055431,0.668831,0.001421
1365,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,104436,107445,211881,0.014201,0.749072,0.001586
953,152,마포구민체육센터 앞,마포구,37.556610,126.898018,67672,74646,142318,0.049003,0.531540,0.001131
1526,2102,봉림교 교통섬,관악구,37.484230,126.926392,67980,68585,136565,0.004430,0.380798,0.000833
1604,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,55464,58723,114187,0.028541,0.752319,0.001590
1138,1153,"발산역 1번, 9번 인근 대여소",강서구,37.558910,126.838097,51557,51836,103393,0.002698,0.266234,0.000589
1835,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,51250,51621,102871,0.003606,0.430427,0.000922
273,583,청계천 생태교실 앞,성동구,37.567970,127.046890,50643,51928,102571,0.012528,0.660482,0.001401
1424,272,당산육갑문,영등포구,37.535339,126.903679,49746,52433,102179,0.026297,0.607143,0.001290
1180,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,50135,49913,100048,-0.002219,0.249536,0.000555
265,565,옥수역 3번출구,성동구,37.541363,127.017662,47775,51615,99390,0.038636,0.721707,0.001519
315,3533,건대입구역 사거리(롯데백화점),광진구,37.539139,127.070618,48141,50481,98622,0.023727,0.514842,0.001106
1569,2177,신대방역 2번 출구,관악구,37.487129,126.913017,48556,49769,98325,0.012337,0.352968,0.000769
775,907,CJ 드림시티,은평구,37.599491,126.916862,45357,51509,96866,0.063510,0.334416,0.000731
1219,1906,신도림역 1번 출구 앞,구로구,37.509720,126.890099,46987,47302,94289,0.003341,0.430891,0.000933

# 2019년 출근시간 (7~10시)

In [16]:
brw19_7to10=pd.read_csv('brw19_출근19.csv')
rtn19_7to10=pd.read_csv('rtn19_출근19.csv')
brw19_7to10=pd.DataFrame(brw19_7to10)
rtn19_7to10=pd.DataFrame(rtn19_7to10)
INNER_JOIN_1_7to10=pd.merge(brw19_7to10,rtn19_7to10, left_on='station', right_on='station', how='inner')
df19_7to10=INNER_JOIN_1_7to10.copy()[['station','N_out','N_in']]
df19_7to10

      station  N_out  N_in
0        2396    576  1174
1        2308    514   830
2         565   2952  3533
3         839    704   367
4         105    920   952
...       ...    ...   ...
1552        5      3    73
1553        7      4     8
1554      377     73   104
1555     2028     64    31
1556     9996      1     1

[1557 rows x 3 columns]

In [17]:
INNER_JOIN_2_7to10=pd.merge(stn,df19_7to10, left_on='대여소 번호', right_on='station', how='inner')
df19_1_7to10=INNER_JOIN_2_7to10.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df19_1_7to10['Count']=df19_1_7to10['N_in']+df19_1_7to10['N_out']
df19_1_7to10['Flow']=(df19_1_7to10['N_in']-df19_1_7to10['N_out'])/(df19_1_7to10['N_in']+df19_1_7to10['N_out'])
df19_1_7to10

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,2170,590,2760,-0.572464
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,3525,2079,5604,-0.258030
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,2676,3278,5954,0.101108
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,1196,1430,2626,0.089109
4,305,종로구청 옆,종로구,37.572582,126.978355,1832,6135,7967,0.540103
...,...,...,...,...,...,...,...,...,...
1509,1059,래미안 강동팰리스(102동),강동구,37.538181,127.131752,1687,781,2468,-0.367099
1510,1060,천일초교 사거리,강동구,37.544659,127.132637,1140,372,1512,-0.507937
1511,1061,천호초교 입구 사거리(일주빌딩),강동구,37.546928,127.134621,1729,474,2203,-0.569678
1512,1062,고덕숲 아이파크 2,강동구,37.551079,127.162621,888,91,979,-0.814096
1513,3539,서원마을,강동구,37.563820,127.132843,98,170,268,0.268657

In [18]:
deg19_7to10=pd.read_csv('degree_출근19.csv')
pg19_7to10=pd.read_csv('pagerank_출근19.csv')
deg19_7to10=pd.DataFrame(deg19_7to10)
pg19_7to10=pd.DataFrame(pg19_7to10)
INNER_JOIN_3_7to10=pd.merge(df19_1_7to10,deg19_7to10, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_7to10=pd.merge(INNER_JOIN_3_7to10,pg19_7to10, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_7to10
df19_2_7to10=INNER_JOIN_4_7to10.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df19_2_7to10=df19_2_7to10.sort_values(by='Count', ascending=False)
df19_2_7to10

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
680,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,5647,20570,26217,0.569211,0.200770,0.001383
885,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,12729,12112,24841,-0.024838,0.087235,0.000665
1368,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,6192,13685,19877,0.376968,0.181527,0.001295
893,1911,구로디지털단지역 앞,구로구,37.484940,126.901321,6821,9610,16431,0.169740,0.192431,0.001362
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,5810,9990,15800,0.264557,0.241180,0.001661
...,...,...,...,...,...,...,...,...,...,...,...
1462,1007,암사동 선사유적지,강동구,37.559517,127.130844,39,76,115,0.321739,0.017319,0.000185
1343,2391,구룡터널 입구(개포1단지아파트),강남구,37.475986,127.059624,65,38,103,-0.262136,0.021809,0.000217
1243,2287,능안마을입구,서초구,37.455620,127.067101,54,43,97,-0.113402,0.014753,0.000172
590,937,상림마을 롯데캐슬2단지 옆,은평구,37.645851,126.923798,36,56,92,0.217391,0.019243,0.000231
64,465,삼청공원 앞,종로구,37.587605,126.983597,9,7,16,-0.125000,0.005131,0.000097

In [19]:
df19_2_7to10.to_csv('2019년 출근 시간 대여소 정리.csv')

In [20]:
df19_2_7to10.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
680,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,5647,20570,26217,0.569211,0.200770,0.001383
885,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,12729,12112,24841,-0.024838,0.087235,0.000665
1368,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,6192,13685,19877,0.376968,0.181527,0.001295
893,1911,구로디지털단지역 앞,구로구,37.484940,126.901321,6821,9610,16431,0.169740,0.192431,0.001362
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,5810,9990,15800,0.264557,0.241180,0.001661
189,563,성동세무서 건너편,성동구,37.547913,127.062752,1943,13427,15370,0.747170,0.157152,0.001093
370,1308,안암로터리 버스정류장 앞,성북구,37.582592,127.028976,3859,11149,15008,0.485741,0.197563,0.001346
1003,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,8576,5497,14073,-0.218788,0.255933,0.001746
1016,222,시범아파트버스정류장 옆,영등포구,37.519436,126.937599,4117,9936,14053,0.414075,0.172547,0.001182
998,202,국민일보 앞,영등포구,37.528816,126.924530,2611,11353,13964,0.626038,0.207826,0.001418
1005,210,IFC몰,영등포구,37.526066,126.925537,3606,10290,13896,0.481002,0.259140,0.001765
724,409,누리꿈스퀘어 옆,마포구,37.579399,126.889160,1082,12672,13754,0.842664,0.137909,0.000988
158,509,이마트 버스정류소 옆,성동구,37.539654,127.052589,3773,9601,13374,0.435771,0.167415,0.001158
192,567,성수역 2번출구 앞,성동구,37.544590,127.057083,7168,6148,13316,-0.076600,0.152662,0.001064
879,1195,코오롱One&Only타워,강서구,37.564129,126.834312,1438,11840,13278,0.783401,0.086594,0.000657

# 2019년 퇴근시간 (17~20시)

In [21]:
brw19_17to20=pd.read_csv('brw19_퇴근19.csv')
rtn19_17to20=pd.read_csv('rtn19_퇴근19.csv')
brw19_17to20=pd.DataFrame(brw19_17to20)
rtn19_17to20=pd.DataFrame(rtn19_17to20)
INNER_JOIN_1_17to20=pd.merge(brw19_17to20,rtn19_17to20, left_on='station', right_on='station', how='inner')
df19_17to20=INNER_JOIN_1_17to20.copy()[['station','N_out','N_in']]
df19_17to20

      station  N_out  N_in
0         217   5758  1651
1         839   1265  1752
2         845   2608  1006
3        2303   2808  2426
4         542   5133  5536
...       ...    ...   ...
1556     2394      3     9
1557     2028     64    78
1558      377    107    82
1559     9996      3     3
1560     1317     11     5

[1561 rows x 3 columns]

In [22]:
INNER_JOIN_2_17to20=pd.merge(stn,df19_17to20, left_on='대여소 번호', right_on='station', how='inner')
df19_1_17to20=INNER_JOIN_2_17to20.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df19_1_17to20['Count']=df19_1_17to20['N_in']+df19_1_17to20['N_out']
df19_1_17to20['Flow']=(df19_1_17to20['N_in']-df19_1_17to20['N_out'])/(df19_1_17to20['N_in']+df19_1_17to20['N_out'])
df19_1_17to20

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,2664,2836,5500,0.031273
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,4973,5091,10064,0.011725
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,3615,2435,6050,-0.195041
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,2692,1851,4543,-0.185120
4,305,종로구청 옆,종로구,37.572582,126.978355,4297,1791,6088,-0.411629
...,...,...,...,...,...,...,...,...,...
1510,1059,래미안 강동팰리스(102동),강동구,37.538181,127.131752,2507,2806,5313,0.056277
1511,1060,천일초교 사거리,강동구,37.544659,127.132637,1285,1445,2730,0.058608
1512,1061,천호초교 입구 사거리(일주빌딩),강동구,37.546928,127.134621,1464,2132,3596,0.185762
1513,1062,고덕숲 아이파크 2,강동구,37.551079,127.162621,384,898,1282,0.400936
1514,3539,서원마을,강동구,37.563820,127.132843,183,181,364,-0.005495

In [23]:
deg19_17to20=pd.read_csv('degree_퇴근19.csv')
pg19_17to20=pd.read_csv('pagerank_퇴근19.csv')
deg19_17to20=pd.DataFrame(deg19_17to20)
pg19_17to20=pd.DataFrame(pg19_17to20)
INNER_JOIN_3_17to20=pd.merge(df19_1_17to20,deg19_17to20, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_17to20=pd.merge(INNER_JOIN_3_17to20,pg19_17to20, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_17to20
df19_2_17to20=INNER_JOIN_4_17to20.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df19_2_17to20=df19_2_17to20.sort_values(by='Count', ascending=False)
df19_2_17to20

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,23898,28508,52406,0.087967,0.241180,0.001887
1003,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,24183,25538,49721,0.027252,0.255933,0.002212
680,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,20393,15734,36127,-0.128962,0.200770,0.001313
1369,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,20452,15086,35538,-0.150993,0.181527,0.001241
1187,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,15241,15777,31018,0.017280,0.313663,0.002278
...,...,...,...,...,...,...,...,...,...,...,...
1343,2391,구룡터널 입구(개포1단지아파트),강남구,37.475986,127.059624,62,79,141,0.120567,0.021809,0.000168
312,664,서울시립대 대학본부,동대문구,37.584129,127.057938,76,61,137,-0.109489,0.017319,0.000137
1242,2286,탑성마을입구,서초구,37.458549,127.055885,65,31,96,-0.354167,0.016677,0.000154
64,465,삼청공원 앞,종로구,37.587605,126.983597,30,2,32,-0.875000,0.005131,0.000107
1346,2394,개포래미안포레스트아파트 107동 앞,강남구,37.479092,127.055397,3,9,12,0.500000,0.000641,0.000077

In [24]:
df19_2_17to20.to_csv('2019년 퇴근 시간 대여소 정리.csv')

In [25]:
df19_2_17to20.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
234,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,23898,28508,52406,0.087967,0.241180,0.001887
1003,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,24183,25538,49721,0.027252,0.255933,0.002212
680,113,홍대입구역 2번출구 앞,마포구,37.557499,126.923805,20393,15734,36127,-0.128962,0.200770,0.001313
1369,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,20452,15086,35538,-0.150993,0.181527,0.001241
1187,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,15241,15777,31018,0.017280,0.313663,0.002278
1125,2102,봉림교 교통섬,관악구,37.484230,126.926392,13694,16056,29750,0.079395,0.158435,0.001041
885,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,15952,12633,28585,-0.116110,0.087235,0.000716
225,3533,건대입구역 사거리(롯데백화점),광진구,37.539139,127.070618,14271,13123,27394,-0.041907,0.163566,0.001367
703,152,마포구민체육센터 앞,마포구,37.556610,126.898018,10209,16549,26758,0.236938,0.177678,0.001279
889,1906,신도림역 1번 출구 앞,구로구,37.509720,126.890099,13829,11114,24943,-0.108848,0.223220,0.001342
1379,1222,잠실새내역 5번 출구 뒤,송파구,37.511982,127.085052,10805,13026,23831,0.093198,0.176395,0.001307
567,907,CJ 드림시티,은평구,37.599491,126.916862,9559,14095,23654,0.191765,0.119307,0.001003
1062,272,당산육갑문,영등포구,37.535339,126.903679,10512,12353,22865,0.080516,0.221937,0.001747
1039,247,당산역 10번출구 앞,영등포구,37.533688,126.902107,11330,11508,22838,0.007794,0.200128,0.001489
848,1160,양천향교역 7번출구앞,강서구,37.567680,126.840897,11361,11334,22695,-0.001190,0.130853,0.000995

# 2020년 출근시간 (7~10시)

In [26]:
brw20_7to10=pd.read_csv('brw20_출근20.csv')
rtn20_7to10=pd.read_csv('rtn20_출근20.csv')
brw20_7to10=pd.DataFrame(brw20_7to10)
rtn20_7to10=pd.DataFrame(rtn20_7to10)
INNER_JOIN_1_7to10=pd.merge(brw20_7to10,rtn20_7to10, left_on='station', right_on='station', how='inner')
df20_7to10=INNER_JOIN_1_7to10.copy()[['station','N_out','N_in']]
df20_7to10

      station  N_out   N_in
0        1347    881    233
1        2733   1933    827
2         210   3323  10332
3        1912   1984   1542
4         431   2930   2276
...       ...    ...    ...
2114     3305     49     27
2115     2547      1      2
2116     9998      1     19
2117     9992      4      8
2118     2543      2      2

[2119 rows x 3 columns]

In [27]:
INNER_JOIN_2_7to10=pd.merge(stn,df20_7to10, left_on='대여소 번호', right_on='station', how='inner')
df20_1_7to10=INNER_JOIN_2_7to10.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df20_1_7to10['Count']=df20_1_7to10['N_in']+df20_1_7to10['N_out']
df20_1_7to10['Flow']=(df20_1_7to10['N_in']-df20_1_7to10['N_out'])/(df20_1_7to10['N_in']+df20_1_7to10['N_out'])
df20_1_7to10

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,2091,650,2741,-0.525721
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,3181,1762,4943,-0.287073
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,2296,2804,5100,0.099608
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,1332,1296,2628,-0.013699
4,305,종로구청 옆,종로구,37.572582,126.978355,1376,4585,5961,0.538332
...,...,...,...,...,...,...,...,...,...
2032,1085,래미안 솔베뉴(고덕로),강동구,37.554569,127.145874,273,261,534,-0.022472
2033,1086,래미안 솔베뉴(구천면로),강동구,37.550598,127.145454,190,186,376,-0.010638
2034,1088,풍납사거리(강동),강동구,37.528122,127.119522,456,382,838,-0.088305
2035,1089,고덕 래미안힐스테이트(201동),강동구,37.560600,127.146698,80,25,105,-0.523810
2036,1090,상일동역 2번출구 앞,강동구,37.556789,127.166145,1295,1002,2297,-0.127558

In [28]:
deg20_7to10=pd.read_csv('degree_출근20.csv')
pg20_7to10=pd.read_csv('pagerank_출근20.csv')
deg20_7to10=pd.DataFrame(deg20_7to10)
pg20_7to10=pd.DataFrame(pg20_7to10)
INNER_JOIN_3_7to10=pd.merge(df20_1_7to10,deg20_7to10, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_7to10=pd.merge(INNER_JOIN_3_7to10,pg20_7to10, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_7to10
df20_2_7to10=INNER_JOIN_4_7to10.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df20_2_7to10=df20_2_7to10.sort_values(by='Count', ascending=False)
df20_2_7to10

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
1179,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,12094,10962,23056,-0.049098,0.088608,0.000602
1222,1911,구로디지털단지역 앞,구로구,37.484940,126.901321,6951,9893,16844,0.174662,0.167370,0.001113
1832,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,6022,9787,15809,0.238155,0.150023,0.001035
1377,222,시범아파트버스정류장 옆,영등포구,37.519436,126.937599,3883,10287,14170,0.451941,0.154243,0.000997
1366,210,IFC몰,영등포구,37.526066,126.925537,3323,10332,13655,0.513292,0.213783,0.001384
...,...,...,...,...,...,...,...,...,...,...,...
1660,2288,안골마을입구,서초구,37.455608,127.064453,13,6,19,-0.368421,0.006564,0.000093
1584,3304,낙성대역 5번 출구,관악구,37.477753,126.962364,9,8,17,-0.058824,0.006095,0.000088
209,859,남산공원 야외식물원 앞,용산구,37.541885,126.995865,7,6,13,-0.076923,0.004688,0.000078
1698,2536,서초종합체육관 입구,서초구,37.459248,127.041634,1,11,12,0.833333,0.002813,0.000067
1704,2543,경문고교 사거리,서초구,37.491264,126.982956,2,2,4,0.000000,0.001875,0.000058

In [29]:
df20_2_7to10.to_csv('2020년 출근 시간 대여소 정리.csv')

In [30]:
df20_2_7to10.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
1179,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,12094,10962,23056,-0.049098,0.088608,0.000602
1222,1911,구로디지털단지역 앞,구로구,37.484940,126.901321,6951,9893,16844,0.174662,0.167370,0.001113
1832,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,6022,9787,15809,0.238155,0.150023,0.001035
1377,222,시범아파트버스정류장 옆,영등포구,37.519436,126.937599,3883,10287,14170,0.451941,0.154243,0.000997
1366,210,IFC몰,영등포구,37.526066,126.925537,3323,10332,13655,0.513292,0.213783,0.001384
1364,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,7856,5703,13559,-0.158788,0.270511,0.001741
324,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,5350,7965,13315,0.196395,0.244257,0.001588
403,646,장한평역 1번출구 (국민은행앞),동대문구,37.561867,127.064377,5853,7434,13287,0.118988,0.160338,0.001051
1568,2177,신대방역 2번 출구,관악구,37.487129,126.913017,6110,6938,13048,0.063458,0.139709,0.000928
1173,1195,코오롱One&Only타워,강서구,37.564129,126.834312,975,11843,12818,0.847870,0.079231,0.000544
263,563,성동세무서 건너편,성동구,37.547913,127.062752,2040,10519,12559,0.675133,0.130333,0.000871
1359,202,국민일보 앞,영등포구,37.528816,126.924530,2631,9589,12220,0.569394,0.185654,0.001193
277,589,성수역3번출구,성동구,37.544159,127.056656,4730,7272,12002,0.211798,0.136896,0.000900
232,509,이마트 버스정류소 옆,성동구,37.539654,127.052589,3368,8530,11898,0.433854,0.145804,0.000955
1268,1986,태평양물산빌딩,구로구,37.484859,126.895187,1072,10608,11680,0.816438,0.150023,0.001008

# 2020년 퇴근시간 (17~20시)

In [31]:
brw20_17to20=pd.read_csv('brw20_퇴근20.csv')
rtn20_17to20=pd.read_csv('rtn20_퇴근20.csv')
brw20_17to20=pd.DataFrame(brw20_17to20)
rtn20_17to20=pd.DataFrame(rtn20_17to20)
INNER_JOIN_1_17to20=pd.merge(brw20_17to20,rtn20_17to20, left_on='station', right_on='station', how='inner')
df20_17to20=INNER_JOIN_1_17to20.copy()[['station','N_out','N_in']]
df20_17to20

      station  N_out   N_in
0         247  11860  11339
1        1171   3791   5348
2        2041    670    744
3         511   3506   2526
4        3509   3858   4818
...       ...    ...    ...
2123     1475      1      1
2124     3304      7      7
2125     3305    126    108
2126     2543     11      7
2127     2547      2      1

[2128 rows x 3 columns]

In [32]:
INNER_JOIN_2_17to20=pd.merge(stn,df20_17to20, left_on='대여소 번호', right_on='station', how='inner')
df20_1_17to20=INNER_JOIN_2_17to20.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in']]
df20_1_17to20['Count']=df20_1_17to20['N_in']+df20_1_17to20['N_out']
df20_1_17to20['Flow']=(df20_1_17to20['N_in']-df20_1_17to20['N_out'])/(df20_1_17to20['N_in']+df20_1_17to20['N_out'])
df20_1_17to20

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow
0,301,경복궁역 7번출구 앞,종로구,37.575794,126.971451,2416,2757,5173,0.065919
1,302,경복궁역 4번출구 뒤,종로구,37.575947,126.974060,4279,4898,9177,0.067451
2,303,광화문역 1번출구 앞,종로구,37.571770,126.974663,3673,2104,5777,-0.271594
3,304,광화문역 2번출구 앞,종로구,37.572113,126.977577,2641,1801,4442,-0.189104
4,305,종로구청 옆,종로구,37.572582,126.978355,3527,1178,4705,-0.499256
...,...,...,...,...,...,...,...,...,...
2034,1085,래미안 솔베뉴(고덕로),강동구,37.554569,127.145874,430,495,925,0.070270
2035,1086,래미안 솔베뉴(구천면로),강동구,37.550598,127.145454,591,643,1234,0.042139
2036,1088,풍납사거리(강동),강동구,37.528122,127.119522,732,721,1453,-0.007571
2037,1089,고덕 래미안힐스테이트(201동),강동구,37.560600,127.146698,107,198,305,0.298361
2038,1090,상일동역 2번출구 앞,강동구,37.556789,127.166145,1904,1838,3742,-0.017638

In [33]:
deg20_17to20=pd.read_csv('degree_퇴근20.csv')
pg20_17to20=pd.read_csv('pagerank_퇴근20.csv')
deg209_17to20=pd.DataFrame(deg20_17to20)
pg20_17to20=pd.DataFrame(pg20_17to20)
INNER_JOIN_3_17to20=pd.merge(df20_1_17to20,deg20_17to20, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_17to20=pd.merge(INNER_JOIN_3_17to20,pg20_17to20, left_on='station', right_on='station', how='inner')
INNER_JOIN_4_17to20
df20_2_17to20=INNER_JOIN_4_17to20.copy()[['station','보관소(대여소)명','자치구', '위도', '경도','N_out','N_in', 'Count','Flow', 'degree_centrality', 'pagerank']]
df20_2_17to20=df20_2_17to20.sort_values(by='Count', ascending=False)
df20_2_17to20

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
324,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,26359,28990,55349,0.047535,0.516838,0.001758
1365,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,25653,25368,51021,-0.005586,0.593545,0.001995
1526,2102,봉림교 교통섬,관악구,37.484230,126.926392,15473,18589,34062,0.091480,0.273620,0.000943
953,152,마포구민체육센터 앞,마포구,37.556610,126.898018,13992,19021,33013,0.152334,0.359214,0.001237
1604,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,14571,14749,29320,0.006071,0.565949,0.001909
...,...,...,...,...,...,...,...,...,...,...,...
1700,2536,서초종합체육관 입구,서초구,37.459248,127.041634,33,15,48,-0.375000,0.007951,0.000077
209,859,남산공원 야외식물원 앞,용산구,37.541885,126.995865,20,16,36,-0.111111,0.012161,0.000086
615,1550,삼각산아이원아파트(105동 옆),강북구,37.615223,127.018509,22,5,27,-0.629630,0.005145,0.000064
1706,2543,경문고교 사거리,서초구,37.491264,126.982956,11,7,18,-0.222222,0.004677,0.000062
1585,3304,낙성대역 5번 출구,관악구,37.477753,126.962364,7,7,14,0.000000,0.005145,0.000065

In [34]:
df20_2_17to20.to_csv('2020년 퇴근 시간 대여소 정리.csv')

In [35]:
df20_2_17to20.head(15)

,station,보관소(대여소)명,자치구,위도,경도,N_out,N_in,Count,Flow,degree_centrality,pagerank
324,502,뚝섬유원지역 1번출구 앞,광진구,37.531860,127.067192,26359,28990,55349,0.047535,0.516838,0.001758
1365,207,여의나루역 1번출구 앞,영등포구,37.526989,126.932098,25653,25368,51021,-0.005586,0.593545,0.001995
1526,2102,봉림교 교통섬,관악구,37.484230,126.926392,15473,18589,34062,0.091480,0.273620,0.000943
953,152,마포구민체육센터 앞,마포구,37.556610,126.898018,13992,19021,33013,0.152334,0.359214,0.001237
1604,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,37.506199,127.003944,14571,14749,29320,0.006071,0.565949,0.001909
1138,1153,"발산역 1번, 9번 인근 대여소",강서구,37.558910,126.838097,14832,14111,28943,-0.024911,0.199719,0.000695
1180,2701,마곡나루역 5번출구 뒤편,강서구,37.565201,126.827316,14492,13212,27704,-0.046203,0.185688,0.000651
1424,272,당산육갑문,영등포구,37.535339,126.903679,12955,13975,26930,0.037876,0.472404,0.001592
265,565,옥수역 3번출구,성동구,37.541363,127.017662,11900,13773,25673,0.072956,0.539757,0.001817
273,583,청계천 생태교실 앞,성동구,37.567970,127.046890,12107,12838,24945,0.029304,0.496726,0.001673
1834,1210,롯데월드타워(잠실역2번출구 쪽),송파구,37.513126,127.100960,14127,10761,24888,-0.135246,0.295603,0.001033
1219,1906,신도림역 1번 출구 앞,구로구,37.509720,126.890099,13148,11740,24888,-0.056573,0.338634,0.001167
315,3533,건대입구역 사거리(롯데백화점),광진구,37.539139,127.070618,12439,12380,24819,-0.002377,0.353134,0.001203
1143,1160,양천향교역 7번출구앞,강서구,37.567680,126.840897,12230,12150,24380,-0.003281,0.244153,0.000839
775,907,CJ 드림시티,은평구,37.599491,126.916862,10229,13684,23913,0.144482,0.228251,0.000805